{% extends "base.html" %}  
{% block main %}
   <div class= "profile">
     <div class= "border">
	<img src= "/static/me.jpg" />
	<h1> Samantha James</h1>  
	<h2>@samanthajames<br> Kingston, Jamaica <br> Joined {{fdate}} </h2>
     </div>
 <p class="me">Hi! I am Samantha James, a third year student at the University of the West Indies. Aspiring to be a Backend Developer and a Cyber Security Analyst
   I am a person who is positive about every aspect of life.
   I enjoy solving problems and learning new things.Because of this, I have a growing interest in web development as it 
   is challenging and calls for continuous innovation and problem solving.</p>
      <div class="prof">
         <span class="post"> 7 
         <p class="prhead"> Posts </p>
         </span>
         <span class="post"> 100 
         <p class="prhead"> Followers </p> 
         </span>
         <span class="post"> 250 
         <p class="prhead"> Following </p> 
         </span>
      </div>
       <p><button>Follow</button></p>
    </div>
{% endblock %}




